/*---------
    RESET
 ----------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*---------
    TYPO
 ----------*/
body{
    font-family: 'Open Sans', sans-serif;
}

/*---------
    COMMONS
 ----------*/

button{
   padding: 10px 20px 10px 20px;
   border: none;
   cursor: pointer;
}

.btn-blue{
    margin: 30px 0px 30px 0px;
    background-color: #0061FF;
    color: white;
    font-size: 16px;
}

/*---------
    HEADER
 ----------*/
header{
    background-color: white;
}

.row{
    display: flex; 
    padding: 10px; 
    justify-content: space-between;
}

.list-inline{
    display: flex;
    list-style: none;
    align-items: center;
}

.left-nav{
    display: flex;
    align-items: center;
}
.right-nav{
    display: flex;
    justify-content: end; 
}
.link-header{
    padding: 10px;
}
.start{
    background-color: #0061FF;
    color: white;
}
/*---------
    MAIN
 ----------*/
.hero{
    background-color: #B4D0E7;
    margin-bottom: 160px;
    position: relative;
}
.container-hero{
    max-width: 1200px;
    margin: auto;
    text-align: start;
}
.hero-row{
    display: flex;
}
.col1-hero{
    width: 30%;
}
.col2-hero{
    width: 70%;
}
.title{
    font-size: 80px;
    font-weight: 700;
    padding-top: 90px;
    padding-bottom: 60px;
}
.hero-immagine{
  width: 800px;
  height: auto;
  position: absolute;
}
.fa-arrow-down{
    font-size: 50px;
    margin-top: 65px;
}

.container-main{
    max-width: 1000px;
    margin: auto; 
}
.h2-sub{
    font-size: 35px;
    margin-bottom: 40px;
}
.plan label{
    padding-right: 30px;
    margin-bottom: 25px;
}

/* COLONNE PLAN */
.row-sub{
    display: flex;
    margin-top: 50px;
}
.col1-sub{
    width: calc(100%/3 - 30px);
    border: 1px solid lightgrey;
    margin-right: 45px;
}
.col2-sub{
    width: calc(100%/3 - 30px);
    border: 1px solid lightgrey;
    margin-right: 45px;
}
.col3-sub{
    width: calc(100%/3 - 30px);
    border: 1px solid lightgrey;
}
.title-little{
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid lightgrey;
}
.container-col{
    max-width: 245px;
    margin: auto;
    padding-bottom: 50px;  
}
.title-price{
    margin: 30px 0px 30px 0px;
}
.duration{
    margin: 15px 0px 60px 0px ;
}
.hr1{
    margin: 40px 0px 40px 0px;
    width: 45px;
}
li{
    padding-top: 10px;
    align-items: baseline;
    display: flex; 
}
.fa-check{
    color:#0061FF;
}
i{
    padding-right: 5px;
}
ul{
    list-style-type: none;
}
.btn-plan{
    text-align: center;
}
.btn-blue.try{
    padding-left: 30px;
    padding-right: 30px;
}
.btn-blue.contact{
    padding-left: 70px;
    padding-right: 70px;
}
/* COLONNA TEAM */
.team{
    border: 1px solid lightgrey;
    margin: 50px 0px 50px 0px;
}
.row-title{
    width: 100%;
    
}
.col-big{
    width: 60%;
    padding: 30px;
}
.col-small{
    width: 40%;
    
    padding-right: 25px;
}
.row-content{
    display: flex;
}
.col-big h3{
    padding-bottom: 15px;
}
.col-big h4{
    padding-bottom: 30px;
}
.btn-blue.office{
    padding: 10px 40px 10px 40px;
}
.col-small.sales{
    text-align: end;
}
/* SEZIONE TROVA UN TROVA */
.trova{
    display: flex;
    margin-top: 140px;
    margin-bottom: 140px;
}
.col-big img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.content-trova{
    padding: 40px;
}
.title-trova{
    font-size: 25px;
    margin-bottom: 10px;
}
.btn-trova{
    background-color: white;
    color: black;
    border: 1px solid;
    margin-top: 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.schede{
    width: calc(100% / 3 - 20px);
    margin: 20px 20px 20px 0px;
}
.img-schede img{
    width: 100%;
}
.title-schede{
    margin-bottom: 20px;
}
/* SEZIONE BUSINESS BIANCA */
.dropbox-business{
    padding-top: 200px;
    padding-bottom: 40px;
}
.business{
    display: flex;
    margin-bottom: 150px;
}
/* SEZIONE AMICI */
.partners{
    display: flex;
    
}
.partner-col{
    width: 30vw;
    height: 30vw;
    display: flex;
    flex-wrap: wrap; 
}
.partner-col.centro{
    width: calc(100% - 60vw);
    overflow-y: auto;
}
.partner{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.partner img{
    width: 60%;
    filter: invert(1);
}
.designit{
    background-color: #A2D39B;
}
.arizona{
    background-color: #61082B;
}
.florida{
    background-color: #0093CE;
}
.topps{
    background-color: #FF1C1C;
}
.wbr{
    background-color: #D5001F;
}
.hearts{
    background-color: #B4D0E7;
}
.lonely{
    background-color: #0D2481;
}
.clear{
    background-color: #FFD830;
}

.partner-col p{
    padding: 2vw;
}
.centro img{
    padding: 2vw;
    width: 50%;
    position: relative;
}
.autore{
    padding: 2vw;
}
.azzurro{
    background-color: #B4D0E7;
}
.prova{
    display: flex;
    padding: 80px;
    text-align: end;
}
.titolo-rosso{
    font-size: 30px;
    text-align: start;
    color: #640D2B;
}
.btn-prova{
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 30px;
}
/* SEZIONE DOMANDE */
.domande{
    padding-top: 150px;
}
.domanda{
    font-weight: 700;
}
.domande h2{
    padding: 0 0 50px;
}
.domande ul {
    list-style: none;
    margin-bottom: 150px;
}
.domande ul li{
    padding: 40px 40px 40px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #233242;
}
.domande ul li:last-child{
    border-bottom: 1px solid #233242;
}
.domande li:hover .hover-domande{
    display: block;
    
}

.hover-domande{
    display: none;
    margin-top: 30px; 
}
.domande i:hover {
    cursor: pointer;
}
.domande li:hover .domanda{
    cursor: pointer;
}

/* FOOTER */
footer{
    background-color: black;
}
.container-footer{
    display: flex;
    max-width: 1200px;
    margin: auto;
}
.col-footer{
    width: calc(100% / 5 );
    color: white;
    padding-top: 100px;
}
.col-footer li{
    padding: 10px;
}
.col-footer hr{
    margin-top: 100px;
    width: 100px;
    margin-bottom: 50px;
}
.lingua{
    padding: 40px 0;
    color: #999999;
}
.fa-caret-up{
    padding: 5px;
}
.col-footer a{
    text-decoration: none;
    color: white;
}