/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* TYPO */
body{
    font-family: 'Open Sans', sans-serif;
}

/* COMMONS */

button{
   padding: 10px 20px 10px 20px;
   border: none;
}

.btn-blue{
    margin: 30px 0px 30px 0px;
    background-color: #0061FF;
    color: white;
    font-size: 16px;
}

/* HEADER */
header{
    background-color: white;
    
    
}
header .row {
    height: 100%;
    align-items: center;
    padding: 0 10px;
}
.row{
    display: flex; 
}
.logo{
    display: block;
}
.list-inline{
    display: flex;
    list-style: none;
}

.left-nav{
    width: 50%;   
    display: flex;
    padding: 10px;
    align-items: center;
}
.right-nav{
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: end;
    padding: 10px;
}
li{
    padding: 20px;
}
.start{
    background-color: #0061FF;
    color: white;
}
/* MAIN */
.hero{
    
    background-color: #B4D0E7;
    margin-bottom: 160px;
}
.container-hero{
    max-width: 1200px;
    margin: auto;
    text-align: start;
}
.hero-row{
    display: flex;
}
.col1-hero{
    width: 30%;
}
.col2-hero{
    width: 70%;
}
.title{
    font-size: 80px;
    font-weight: 700;
    padding-top: 90px;
    padding-bottom: 60px;
}
.hero-immagine{
  width: 800px;
  height: auto;
}
.fa-arrow-down{
    font-size: 50px;
    margin-top: 65px;
}

.container-main{
    max-width: 1000px;
    margin: auto;
}
.h2-sub{
    font-size: 35px;
}
.btn-radio{
    color: black;
    margin-bottom: 35px;
    margin-top: 45px;
}
.row-sub{
    display: flex;
}
.col1-sub{
    width: calc(100%/3 - 30px);
    border: 1px solid;
    margin-right: 45px;
    
}
.col2-sub{
    width: calc(100%/3 - 30px);
    border: 1px solid;
    margin-right: 45px;
}
.col3-sub{
    width: calc(100%/3 - 30px);
    border: 1px solid;
}
.title-col{
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid;
}
.container-col{
    max-width: 245px;
    margin: auto;
}
.title-price{
    margin: 30px 0px 30px 0px;
}
.duration{
    margin: 15px 0px 60px 0px ;
}
hr{
    margin: 40px 0px 40px 0px;
    width: 45px;
}
li{
    padding-top: 10px;
    align-items: baseline;
    display: flex;
    
}
.fa-check{
    color:#0061FF;
}
i{
    padding-right: 5px;
}
ul{
    list-style-type: none;
    text-align: left;
}
